{% extends '@EasyAdmin/default/show.html.twig' %}

{% block main %}


    <div class="row">

        <h2>Politique de Confidentialité</h2>
        <p>
            Nous sommes ravis de vous compter parmi nous. Merci d'avoir choisi d'utiliser nos services.

            Nous avons énuméré ci-dessous les conditions juridiques importantes qui s'appliquent à chaque visiteur
            de notre
            site Web et à chaque utilisateur de nos services. Ces conditions sont nécessaires à votre protection et
            à la
            nôtre,
            pour pouvoir fournir nos services d'une manière satisfaisante pour chacun. Certaines
            de ces conditions peuvent ne pas concerner les services particuliers que vous utilisez.
        </p>
    </div>

{% endblock %}