
<form method="post" action="{{ path('activity_delete', {'id': activity.id}) }}" onsubmit="return confirm('AVous êtes sûr de vouloir supprimer cette publication?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button class="btn">Supprimer</button>
</form>