{% extends 'base.html.twig' %}

{% block title %}Edition d'activité{% endblock %}

{% block body %}
        <div class="container">
            <h3>Modifier une activité</h3>

            {{ include('activity/_form.html.twig', {'button_label': 'Modifier', 'button_class' : "btn-outline-warning"}) }}

            <a href="{{ path('activity_index') }}" class="btn btn-sm btn-outline-secondary float-right">Retour</a>

            {{ include('activity/_delete_form.html.twig') }}
        </div>

{% endblock %}
