{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div class="jumbotron fluid d-flex p-4 m-3 justify-content-start">
        <h3 class="float-left ml-5">Créer un compte</h3>

        {{ include('user/_form.html.twig')  }} <a href="{{ path('user_index') }}"><i class="fas fa-arrow-circle-left"></i></a>
    </div>



{% endblock %}
