{% extends 'base.html.twig' %}


{% block title %}Modifier le profil{% endblock %}
{% block main %}
    <h1>Modification du profil de {{ app.user.pseudo }}</h1>

    {{ form_start (updateForm) }}
    {{ form_widget (updateForm) }}
    <button type="submit">Enregister</button>
    <button type="reset"> Annuler</button>
    {{ form_end (updateForm) }}
{% endblock %}